<div mat-dialog-content *ngIf="data">
  <p>Download data of {{data.pdbIds.length}} PDB entr{{data.pdbIds.length > 1 ? "ies" : "y"}} {{data.relationship}} {{data.accession}}</p>
  <mat-radio-group [(ngModel)]="chosenformat">
    <p>Structure:
      <span class="row">
        <mat-radio-button value="updated">Updated mmCIF file</mat-radio-button>
      </span>
      <span class="row">
        <mat-radio-button value="archive-mmCIF">Archive mmCIF file</mat-radio-button>
      </span>
      <span class="row">
        <mat-radio-button value="archive-PDB">PDB file</mat-radio-button>
      </span>
    </p>
    <p>Sequence:
      <span class="row">
        <mat-radio-button value="fasta-combined">Combined FASTA</mat-radio-button>
      </span>
      <span class="row">
        <mat-radio-button value="fasta-individual">Individual FASTA files</mat-radio-button>
      </span>
    </p>
    <p>Other:
      <span class="row">
        <mat-radio-button value="validation">Validation data</mat-radio-button>
      </span>
    </p>
  </mat-radio-group>
  <!--<span class="row" *ngIf="chosenformat"> <div class="fieldfont">{{chosenformat}}, compressed as tar.gz</div></span>-->
    <!--<p>Compression:
      <mat-radio-group>
        <span class="row"><mat-radio-button value="compressed" checked>Compressed (tar.gz containing different cif files)</mat-radio-button></span>
        <span class="row"><mat-radio-button value="uncompressed">Uncompressed (a single .cif file)</mat-radio-button></span>
      </mat-radio-group>
    </p>-->
</div>
<div mat-dialog-actions>
  <button class="button margin-right-05" (click)="onClick()">
    Download <i class="icon icon-functional" data-icon="="></i>
  </button>
  <button class="button right cancel" (click)="onNoClick()">
    Cancel <i class="icon icon-functional" data-icon="x"></i>
  </button>
</div>
<div *ngIf=errorText class="label limited-width errorStyle">
  <p>{{errorText}}</p>
</div>
<div *ngIf="isLoading">
  <div *ngIf="hashedurl" class="loadingBox">
    You can wait for this to load, or retrieve the result from this link:<br>
     <a href={{hashedurl}} class="loadingUrl">{{hashedurl}}</a></div>
  <div  class="label loading">
  Loading...
  </div>
</div>

